@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-montserrat cursor-default;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }
}

.throughlined-text {
  @apply relative;

  @screen md {
    &::before {
      content: "";
      @apply absolute left-0 w-full h-2/5 bg-blue-50;
      top: 5px;
      z-index: -1;
    }
  }
}
